USE [master]
GO
/****** Object:  Database [NIOM&CE]    Script Date: 3/24/2026 3:03:56 PM ******/
CREATE DATABASE [NIOM&CE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NIOMCE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NIOMCE.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NIOMCE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NIOMCE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NIOM&CE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NIOM&CE]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AddressLine] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[IsDefault] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [nvarchar](50) NOT NULL,
	[CustomerUserId] [nvarchar](50) NULL,
	[BookingTime] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceId] [nvarchar](50) NOT NULL,
	[BookingId] [nvarchar](50) NULL,
	[ServiceId] [nvarchar](50) NULL,
	[StaffId] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[CommissionAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [nvarchar](50) NOT NULL,
	[CartId] [nvarchar](50) NULL,
	[ProductId] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationId] [nvarchar](50) NOT NULL,
	[CustomerUserId] [nvarchar](50) NULL,
	[StaffId] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[InventoryItemId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Unit] [nvarchar](50) NULL,
	[ConversionRate] [decimal](10, 2) NULL,
	[Quantity] [decimal](10, 2) NULL,
	[ReorderLevel] [decimal](10, 2) NULL,
	[PriceVnd] [decimal](12, 2) NULL,
	[ItemGroup] [nvarchar](20) NULL,
	[ProductId] [nvarchar](50) NULL,
	[CategoryId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionId] [nvarchar](50) NOT NULL,
	[InventoryItemId] [nvarchar](50) NULL,
	[Type] [nvarchar](20) NULL,
	[Quantity] [decimal](10, 2) NULL,
	[ReferenceId] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[PerformedByRole] [nvarchar](50) NULL,
	[PerformedById] [nvarchar](100) NULL,
	[PerformedByName] [nvarchar](150) NULL,
	[PerformedByEmail] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoicePromotions]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePromotions](
	[Id] [nvarchar](50) NOT NULL,
	[InvoiceId] [nvarchar](50) NULL,
	[PromotionId] [nvarchar](50) NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[BookingId] [nvarchar](50) NULL,
	[OrderId] [nvarchar](50) NULL,
	[TotalAmount] [decimal](12, 2) NULL,
	[DiscountAmount] [decimal](12, 2) NULL,
	[FinalAmount] [decimal](12, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [nvarchar](50) NOT NULL,
	[ConversationId] [nvarchar](50) NULL,
	[SenderId] [nvarchar](50) NULL,
	[MessageText] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Type] [nvarchar](64) NULL,
	[Channel] [nvarchar](64) NULL,
	[Body] [nvarchar](max) NULL,
	[BookingId] [nvarchar](64) NULL,
	[OrderId] [nvarchar](64) NULL,
	[ScheduledAt] [datetime2](7) NULL,
	[SentAt] [datetime2](7) NULL,
	[EmailSentAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationSettings]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSettings](
	[UserId] [nvarchar](64) NOT NULL,
	[EnableNotifications] [bit] NOT NULL,
	[EnableEmail] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [nvarchar](50) NOT NULL,
	[OrderId] [nvarchar](50) NULL,
	[ProductId] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[StaffId] [nvarchar](50) NULL,
	[CommissionAmount] [decimal](10, 2) NULL,
	[ProductName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CustomerName] [nvarchar](200) NULL,
	[CustomerPhone] [nvarchar](50) NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[Channel] [nvarchar](50) NULL,
	[Subtotal] [decimal](12, 2) NULL,
	[Total] [decimal](12, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[GiftCardCode] [nvarchar](64) NULL,
	[GiftCardApplied] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [nvarchar](50) NOT NULL,
	[InvoiceId] [nvarchar](50) NULL,
	[Amount] [decimal](12, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[PaidAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoryId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageId] [nvarchar](50) NOT NULL,
	[ProductId] [nvarchar](50) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Price] [decimal](10, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Stock] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CategoryId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [nvarchar](50) NOT NULL,
	[ProductId] [nvarchar](50) NULL,
	[VariantName] [nvarchar](100) NULL,
	[Stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionId] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[DiscountType] [nvarchar](20) NULL,
	[DiscountValue] [decimal](10, 2) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleKey] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalonReviews]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalonReviews](
	[ReviewId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[ServiceId] [nvarchar](50) NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ProductId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceConsumables]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceConsumables](
	[ServiceId] [nvarchar](50) NOT NULL,
	[InventoryItemId] [nvarchar](50) NOT NULL,
	[QtyRequired] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[InventoryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DurationMinutes] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[CategoryId] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NULL,
	[HireDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAvailability]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAvailability](
	[WeekStartDate] [date] NOT NULL,
	[StaffId] [nvarchar](50) NOT NULL,
	[StartHour] [int] NULL,
	[EndHour] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[WeekStartDate] ASC,
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffShifts]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffShifts](
	[ShiftId] [nvarchar](50) NOT NULL,
	[WeekStartDate] [date] NOT NULL,
	[SalonId] [nvarchar](50) NULL,
	[StaffId] [nvarchar](50) NOT NULL,
	[StaffName] [nvarchar](150) NULL,
	[DayIndex] [int] NOT NULL,
	[StartHour] [int] NOT NULL,
	[DurationHours] [int] NOT NULL,
	[Note] [nvarchar](400) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffSkills]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffSkills](
	[IdStaffSkill] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [nvarchar](50) NOT NULL,
	[CategoryId] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStaffSkill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLogs]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLogs](
	[TimeLogId] [nvarchar](50) NOT NULL,
	[StaffId] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[At] [datetime2](7) NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipLogs]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipLogs](
	[TipLogId] [nvarchar](50) NOT NULL,
	[StaffId] [nvarchar](50) NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[At] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/24/2026 3:03:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[RoleKey] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Addresses] ([AddressId], [UserId], [FullName], [PhoneNumber], [AddressLine], [City], [Country], [IsDefault]) VALUES (N'1', N'5', N'Customer A', N'0900000005', N'123 Street', N'Da Nang', N'Vietnam', 1)
INSERT [dbo].[Addresses] ([AddressId], [UserId], [FullName], [PhoneNumber], [AddressLine], [City], [Country], [IsDefault]) VALUES (N'2', N'6', N'Customer B', N'0900000006', N'456 Street', N'Da Nang', N'Vietnam', 1)
INSERT [dbo].[Addresses] ([AddressId], [UserId], [FullName], [PhoneNumber], [AddressLine], [City], [Country], [IsDefault]) VALUES (N'3', N'7', N'Customer C', N'0900000007', N'789 Street', N'Da Nang', N'Vietnam', 1)
GO
INSERT [dbo].[Bookings] ([BookingId], [CustomerUserId], [BookingTime], [Status], [Notes], [CreatedAt]) VALUES (N'1', N'5', CAST(N'2026-03-10T10:00:00.0000000' AS DateTime2), N'COMPLETED', N'Nail booking', CAST(N'2026-03-10T16:31:07.7000000' AS DateTime2))
INSERT [dbo].[Bookings] ([BookingId], [CustomerUserId], [BookingTime], [Status], [Notes], [CreatedAt]) VALUES (N'2', N'6', CAST(N'2026-03-10T04:00:00.0000000' AS DateTime2), N'COMPLETED', N'Pedicure', CAST(N'2026-03-10T16:31:07.7000000' AS DateTime2))
INSERT [dbo].[Bookings] ([BookingId], [CustomerUserId], [BookingTime], [Status], [Notes], [CreatedAt]) VALUES (N'3', N'7', CAST(N'2026-03-10T05:00:00.0000000' AS DateTime2), N'COMPLETED', N'Gel nail', CAST(N'2026-03-10T16:31:07.7000000' AS DateTime2))
GO
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [StaffId], [Price], [CommissionAmount]) VALUES (N'1', N'1', N'1', N'1', CAST(150000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [StaffId], [Price], [CommissionAmount]) VALUES (N'2', N'2', N'2', N'2', CAST(170000.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [StaffId], [Price], [CommissionAmount]) VALUES (N'3', N'3', N'3', N'3', CAST(250000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Cart] ([CartId], [UserId], [CreatedAt]) VALUES (N'1', N'5', CAST(N'2026-03-10T16:31:07.6900000' AS DateTime2))
INSERT [dbo].[Cart] ([CartId], [UserId], [CreatedAt]) VALUES (N'2', N'6', CAST(N'2026-03-10T16:31:07.6900000' AS DateTime2))
INSERT [dbo].[Cart] ([CartId], [UserId], [CreatedAt]) VALUES (N'2a2a35447c24719cd745acd2', NULL, CAST(N'2026-03-10T17:23:13.6366667' AS DateTime2))
GO
INSERT [dbo].[CartItems] ([CartItemId], [CartId], [ProductId], [Quantity]) VALUES (N'1', N'1', N'1', 2)
INSERT [dbo].[CartItems] ([CartItemId], [CartId], [ProductId], [Quantity]) VALUES (N'2', N'1', N'3', 1)
INSERT [dbo].[CartItems] ([CartItemId], [CartId], [ProductId], [Quantity]) VALUES (N'3', N'2', N'2', 1)
GO
INSERT [dbo].[Conversations] ([ConversationId], [CustomerUserId], [StaffId], [CreatedAt]) VALUES (N'1', N'5', N'1', CAST(N'2026-03-10T16:31:07.7100000' AS DateTime2))
INSERT [dbo].[Conversations] ([ConversationId], [CustomerUserId], [StaffId], [CreatedAt]) VALUES (N'CVS-0dc15ab8d689c19d09244063', N'3', N'1', CAST(N'2026-03-20T02:47:43.9878737' AS DateTime2))
INSERT [dbo].[Conversations] ([ConversationId], [CustomerUserId], [StaffId], [CreatedAt]) VALUES (N'CVS-526366e6637e219d0abf5be0', N'1', N'1', CAST(N'2026-03-20T10:16:46.3237168' AS DateTime2))
GO
INSERT [dbo].[InventoryItems] ([InventoryItemId], [Name], [Unit], [ConversionRate], [Quantity], [ReorderLevel], [PriceVnd], [ItemGroup], [ProductId], [CategoryId]) VALUES (N'1', N'Gel Liquid', N'ml', CAST(1.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[InventoryItems] ([InventoryItemId], [Name], [Unit], [ConversionRate], [Quantity], [ReorderLevel], [PriceVnd], [ItemGroup], [ProductId], [CategoryId]) VALUES (N'2', N'Acrylic Powder', N'each', CAST(1.00 AS Decimal(10, 2)), CAST(389.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL)
INSERT [dbo].[InventoryItems] ([InventoryItemId], [Name], [Unit], [ConversionRate], [Quantity], [ReorderLevel], [PriceVnd], [ItemGroup], [ProductId], [CategoryId]) VALUES (N'2f16a00c7ea8e19ce00d66d8', N'MALL', N'chai', CAST(1.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(12, 2)), NULL, NULL, NULL)
GO
INSERT [dbo].[InventoryTransactions] ([TransactionId], [InventoryItemId], [Type], [Quantity], [ReferenceId], [CreatedAt], [PerformedByRole], [PerformedById], [PerformedByName], [PerformedByEmail]) VALUES (N'1', N'1', N'IMPORT', CAST(100.00 AS Decimal(10, 2)), N'REF1', CAST(N'2026-03-10T16:31:07.7100000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[InventoryTransactions] ([TransactionId], [InventoryItemId], [Type], [Quantity], [ReferenceId], [CreatedAt], [PerformedByRole], [PerformedById], [PerformedByName], [PerformedByEmail]) VALUES (N'1740e3972939819ce7a8a0ae', N'44bc061f1971419ce7a8a092', N'IN', CAST(100.00 AS Decimal(10, 2)), N'Khởi tạo tồn kho', CAST(N'2026-03-13T21:45:14.0400000' AS DateTime2), N'3', N'11', N'Customer G', N'g@gmail.com')
INSERT [dbo].[InventoryTransactions] ([TransactionId], [InventoryItemId], [Type], [Quantity], [ReferenceId], [CreatedAt], [PerformedByRole], [PerformedById], [PerformedByName], [PerformedByEmail]) VALUES (N'2', N'1', N'EXPORT', CAST(10.00 AS Decimal(10, 2)), N'REF2', CAST(N'2026-03-10T16:31:07.7100000' AS DateTime2), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[InvoicePromotions] ([Id], [InvoiceId], [PromotionId], [DiscountAmount]) VALUES (N'1', N'2', N'1', CAST(20000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Invoices] ([InvoiceId], [UserId], [BookingId], [OrderId], [TotalAmount], [DiscountAmount], [FinalAmount], [Status], [CreatedAt]) VALUES (N'1', N'5', N'1', N'ORD-002', CAST(420000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(420000.00 AS Decimal(12, 2)), N'PAID', CAST(N'2026-03-10T16:31:07.7066667' AS DateTime2))
INSERT [dbo].[Invoices] ([InvoiceId], [UserId], [BookingId], [OrderId], [TotalAmount], [DiscountAmount], [FinalAmount], [Status], [CreatedAt]) VALUES (N'2', N'6', N'2', N'ORD-003', CAST(410000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), CAST(390000.00 AS Decimal(12, 2)), N'PAID', CAST(N'2026-03-10T16:31:07.7066667' AS DateTime2))
GO
INSERT [dbo].[Messages] ([MessageId], [ConversationId], [SenderId], [MessageText], [CreatedAt]) VALUES (N'1', N'1', N'5', N'Hello I want to book nail', CAST(N'2026-03-10T16:31:07.7100000' AS DateTime2))
INSERT [dbo].[Messages] ([MessageId], [ConversationId], [SenderId], [MessageText], [CreatedAt]) VALUES (N'2', N'1', N'2', N'Sure what time?', CAST(N'2026-03-10T16:31:07.7100000' AS DateTime2))
INSERT [dbo].[Messages] ([MessageId], [ConversationId], [SenderId], [MessageText], [CreatedAt]) VALUES (N'MSG-0dfd574a6d63419d0b86dfd6', N'CVS-b7c73e8efd74c19d02ffabc6', N'fac068cea5ce219ce7b48708', N'hazz', CAST(N'2026-03-20T13:54:41.7500000' AS DateTime2))
GO
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Content], [IsRead], [CreatedAt], [UpdatedAt], [Type], [Channel], [Body], [BookingId], [OrderId], [ScheduledAt], [SentAt], [EmailSentAt]) VALUES (N'1', N'5', N'Booking Confirmed', N'Your booking is confirmed', 0, CAST(N'2026-03-10T16:31:07.7133333' AS DateTime2), CAST(N'2026-03-10T16:31:07.7133333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price], [StaffId], [CommissionAmount], [ProductName]) VALUES (N'1', N'ORD-002', N'1', 1, CAST(120000.00 AS Decimal(10, 2)), N'1', CAST(20000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price], [StaffId], [CommissionAmount], [ProductName]) VALUES (N'2', N'ORD-002', N'3', 1, CAST(150000.00 AS Decimal(10, 2)), N'1', CAST(20000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price], [StaffId], [CommissionAmount], [ProductName]) VALUES (N'3', N'ORD-003', N'2', 2, CAST(120000.00 AS Decimal(10, 2)), N'2', CAST(30000.00 AS Decimal(10, 2)), NULL)
GO
INSERT [dbo].[Orders] ([OrderId], [UserId], [Status], [CreatedAt], [CustomerName], [CustomerPhone], [CustomerAddress], [Channel], [Subtotal], [Total], [PaymentMethod], [GiftCardCode], [GiftCardApplied]) VALUES (N'ORD-001', N'3', N'Pending', CAST(N'2026-03-10T10:09:25.9432738' AS DateTime2), N'Lisa Tran', N'0900000003', NULL, NULL, CAST(110000.00 AS Decimal(12, 2)), CAST(121300.00 AS Decimal(12, 2)), N'COD', NULL, 0.0000)
INSERT [dbo].[Orders] ([OrderId], [UserId], [Status], [CreatedAt], [CustomerName], [CustomerPhone], [CustomerAddress], [Channel], [Subtotal], [Total], [PaymentMethod], [GiftCardCode], [GiftCardApplied]) VALUES (N'ORD-002', N'5', N'COMPLETED', CAST(N'2026-03-10T16:31:07.7033333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderId], [UserId], [Status], [CreatedAt], [CustomerName], [CustomerPhone], [CustomerAddress], [Channel], [Subtotal], [Total], [PaymentMethod], [GiftCardCode], [GiftCardApplied]) VALUES (N'ORD-003', N'6', N'COMPLETED', CAST(N'2026-03-10T16:31:07.7033333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [Amount], [PaymentMethod], [Status], [TransactionCode], [PaidAt]) VALUES (N'1', N'1', CAST(420000.00 AS Decimal(12, 2)), N'CASH', N'SUCCESS', N'TXN001', CAST(N'2026-03-10T16:31:07.7066667' AS DateTime2))
INSERT [dbo].[Payments] ([PaymentId], [InvoiceId], [Amount], [PaymentMethod], [Status], [TransactionCode], [PaidAt]) VALUES (N'2', N'2', CAST(390000.00 AS Decimal(12, 2)), N'VNPAY', N'SUCCESS', N'TXN002', CAST(N'2026-03-10T16:31:07.7066667' AS DateTime2))
GO
INSERT [dbo].[ProductCategories] ([CategoryId], [Name], [Description]) VALUES (N'038973e9af46819ce787d239', N'TestCat_1773410963811', N'tmp')
INSERT [dbo].[ProductCategories] ([CategoryId], [Name], [Description]) VALUES (N'b07e26bf592f919ce788e7b9', N'kem dưỡng', NULL)
GO
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [SortOrder]) VALUES (N'49176225ef11d19ce7d5c7a6', N'4', N'/uploads/products/img_07e261558b09719ce7d5c300.jpg', 1)
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [SortOrder]) VALUES (N'5c02a67e6057719ce7d5c7a0', N'4', N'/uploads/products/img_a02060648501319ce7cd97d0.jpg', 0)
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Description], [ImageUrl], [Stock], [Status], [CategoryId]) VALUES (N'1', N'Nail Polish Red', CAST(1200000.00 AS Decimal(10, 2)), N'Red polish', N'img/p1.jpg', 48, N'active', NULL)
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Description], [ImageUrl], [Stock], [Status], [CategoryId]) VALUES (N'2', N'Nail Polish Pink', CAST(120000.00 AS Decimal(10, 2)), N'Pink polish', N'img/p2.jpg', 37, N'active', NULL)
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [Description], [ImageUrl], [Stock], [Status], [CategoryId]) VALUES (N'3', N'Nail Oil', CAST(150000.00 AS Decimal(10, 2)), N'Nail care oil', N'img/p3.jpg', 29, N'inactive', NULL)
GO
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [VariantName], [Stock]) VALUES (N'a7745701d630b19ce51871e3', N'4', N'màu ánh', 10)
GO
INSERT [dbo].[Promotions] ([PromotionId], [Code], [DiscountType], [DiscountValue], [StartDate], [EndDate], [Status]) VALUES (N'1', N'WELCOME10', N'PERCENT', CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-12-31T00:00:00.0000000' AS DateTime2), N'ACTIVE')
GO
INSERT [dbo].[Roles] ([RoleKey], [DisplayName]) VALUES (N'1', N'Admin')
INSERT [dbo].[Roles] ([RoleKey], [DisplayName]) VALUES (N'2', N'Staff')
INSERT [dbo].[Roles] ([RoleKey], [DisplayName]) VALUES (N'3', N'Customer')
GO
INSERT [dbo].[SalonReviews] ([ReviewId], [UserId], [ServiceId], [Rating], [Comment], [CreatedAt], [ProductId]) VALUES (N'1', N'5', N'1', 5, N'Very good service', CAST(N'2026-03-10T16:31:07.7133333' AS DateTime2), N'1')
INSERT [dbo].[SalonReviews] ([ReviewId], [UserId], [ServiceId], [Rating], [Comment], [CreatedAt], [ProductId]) VALUES (N'PRD-20944569fbce219d03251a63', N'fac068cea5ce219ce7b48708', NULL, 5, N'linh', CAST(N'2026-03-18T22:50:56.4880246' AS DateTime2), N'e03147c87925d19ce4eee189')
INSERT [dbo].[SalonReviews] ([ReviewId], [UserId], [ServiceId], [Rating], [Comment], [CreatedAt], [ProductId]) VALUES (N'PRD-6fd46c98c1e6c19d0662e5e7', N'fac068cea5ce219ce7b48708', NULL, 5, N'hahah', CAST(N'2026-03-19T13:57:17.9517168' AS DateTime2), N'e03147c87925d19ce4eee189')
GO
INSERT [dbo].[ServiceCategories] ([CategoryId], [Name], [Description]) VALUES (N'db205a5fb24bf19ce7c3594d', N'Nối MI', NULL)
INSERT [dbo].[ServiceCategories] ([CategoryId], [Name], [Description]) VALUES (N'f1d49a9967dad19ce7c3740f', N'LÀM MÓNG', NULL)
GO
INSERT [dbo].[ServiceConsumables] ([ServiceId], [InventoryItemId], [QtyRequired]) VALUES (N'3', N'1', CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[ServiceConsumables] ([ServiceId], [InventoryItemId], [QtyRequired]) VALUES (N'5', N'2', CAST(20.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Services] ([ServiceId], [Name], [Price], [DurationMinutes], [Description], [Status], [CategoryId], [ImageUrl]) VALUES (N'1', N'Basic Manicure', CAST(150000.00 AS Decimal(10, 2)), 30, N'Basic nail care', N'ACTIVE', N'f1d49a9967dad19ce7c3740f', N'/uploads/products/img_a02060648501319ce7cd97d0.jpg')
INSERT [dbo].[Services] ([ServiceId], [Name], [Price], [DurationMinutes], [Description], [Status], [CategoryId], [ImageUrl]) VALUES (N'2', N'Basic Pedicure', CAST(170000.00 AS Decimal(10, 2)), 35, N'Foot nail care', N'ACTIVE', N'db205a5fb24bf19ce7c3594d', N'/uploads/products/img_96d4986aada9219ce7cddf6c.jpg')
INSERT [dbo].[Services] ([ServiceId], [Name], [Price], [DurationMinutes], [Description], [Status], [CategoryId], [ImageUrl]) VALUES (N'3', N'Gel Nail', CAST(250000.00 AS Decimal(10, 2)), 45, N'Gel polish', N'ACTIVE', N'db205a5fb24bf19ce7c3594d', NULL)
GO
INSERT [dbo].[Staff] ([StaffId], [UserId], [HireDate], [Status]) VALUES (N'1', N'2', CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), N'Working')
INSERT [dbo].[Staff] ([StaffId], [UserId], [HireDate], [Status]) VALUES (N'2', N'3', CAST(N'2024-02-01T00:00:00.0000000' AS DateTime2), N'Working')
INSERT [dbo].[Staff] ([StaffId], [UserId], [HireDate], [Status]) VALUES (N'3', N'4', CAST(N'2024-03-01T00:00:00.0000000' AS DateTime2), N'Working')
GO
INSERT [dbo].[StaffAvailability] ([WeekStartDate], [StaffId], [StartHour], [EndHour], [UpdatedAt]) VALUES (CAST(N'2026-03-08' AS Date), N'1', NULL, NULL, CAST(N'2026-03-11T21:51:29.8400000' AS DateTime2))
INSERT [dbo].[StaffAvailability] ([WeekStartDate], [StaffId], [StartHour], [EndHour], [UpdatedAt]) VALUES (CAST(N'2026-03-10' AS Date), N'1', 9, 18, CAST(N'2026-03-10T17:26:54.0466667' AS DateTime2))
INSERT [dbo].[StaffAvailability] ([WeekStartDate], [StaffId], [StartHour], [EndHour], [UpdatedAt]) VALUES (CAST(N'2026-03-10' AS Date), N'2', 10, 19, CAST(N'2026-03-10T17:26:54.0466667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[StaffSkills] ON 

INSERT [dbo].[StaffSkills] ([IdStaffSkill], [StaffId], [CategoryId]) VALUES (2, N'1', N'db205a5fb24bf19ce7c3594d')
INSERT [dbo].[StaffSkills] ([IdStaffSkill], [StaffId], [CategoryId]) VALUES (3, N'1', N'f1d49a9967dad19ce7c3740f')
INSERT [dbo].[StaffSkills] ([IdStaffSkill], [StaffId], [CategoryId]) VALUES (5, N'2', N'db205a5fb24bf19ce7c3594d')
SET IDENTITY_INSERT [dbo].[StaffSkills] OFF
GO
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue]) VALUES (N'BookingInterval', N'30')
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue]) VALUES (N'Currency', N'VND')
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue]) VALUES (N'Notifications:owner:1', N'[]')
GO
INSERT [dbo].[TimeLogs] ([TimeLogId], [StaffId], [Type], [At], [Note]) VALUES (N'1', N'1', N'CHECKIN', CAST(N'2026-03-10T17:26:54.0400000' AS DateTime2), N'Start work')
INSERT [dbo].[TimeLogs] ([TimeLogId], [StaffId], [Type], [At], [Note]) VALUES (N'2', N'1', N'CHECKOUT', CAST(N'2026-03-11T01:26:54.0400000' AS DateTime2), N'End work')
INSERT [dbo].[TimeLogs] ([TimeLogId], [StaffId], [Type], [At], [Note]) VALUES (N'3', N'2', N'CHECKIN', CAST(N'2026-03-10T17:26:54.0400000' AS DateTime2), N'Start work')
GO
INSERT [dbo].[TipLogs] ([TipLogId], [StaffId], [Amount], [At]) VALUES (N'1', N'1', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2026-03-10T17:26:54.0433333' AS DateTime2))
INSERT [dbo].[TipLogs] ([TipLogId], [StaffId], [Amount], [At]) VALUES (N'2', N'2', CAST(70000.00 AS Decimal(10, 2)), CAST(N'2026-03-10T17:26:54.0433333' AS DateTime2))
INSERT [dbo].[TipLogs] ([TipLogId], [StaffId], [Amount], [At]) VALUES (N'3', N'3', CAST(30000.00 AS Decimal(10, 2)), CAST(N'2026-03-10T17:26:54.0433333' AS DateTime2))
GO
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Phone], [PasswordHash], [RoleKey], [CreatedAt], [Status], [AvatarUrl]) VALUES (N'1', N'Admin', N'admin@nail.com', N'0900000001', N'$2a$10$Acj1c3dPCtwi34Qkv5Btv.sLj.Gs2HCCHHEzMqDZGs1mq7Vg63I/2', N'1', CAST(N'2026-03-10T16:31:07.6600000' AS DateTime2), N'ACTIVE', N'u1.jpg')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Phone], [PasswordHash], [RoleKey], [CreatedAt], [Status], [AvatarUrl]) VALUES (N'10', N'Customer F', N'f@gmail.com', N'0900000010', N'$2a$10$Acj1c3dPCtwi34Qkv5Btv.sLj.Gs2HCCHHEzMqDZGs1mq7Vg63I/2', N'3', CAST(N'2026-03-10T16:31:07.6600000' AS DateTime2), N'ACTIVE', NULL)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Phone], [PasswordHash], [RoleKey], [CreatedAt], [Status], [AvatarUrl]) VALUES (N'11', N'Customer G', N'g@gmail.com', N'0900000011', N'$2a$10$Acj1c3dPCtwi34Qkv5Btv.sLj.Gs2HCCHHEzMqDZGs1mq7Vg63I/2', N'3', CAST(N'2026-03-10T16:31:07.6600000' AS DateTime2), N'ACTIVE', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_InventoryItems_Retail_ProductId]    Script Date: 3/24/2026 3:03:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_InventoryItems_Retail_ProductId] ON [dbo].[InventoryItems]
(
	[ProductId] ASC
)
WHERE ([ItemGroup]='retail' AND [ProductId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 3/24/2026 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SalonReviews_ProductId]    Script Date: 3/24/2026 3:03:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalonReviews_ProductId] ON [dbo].[SalonReviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_Category]    Script Date: 3/24/2026 3:03:56 PM ******/
ALTER TABLE [dbo].[StaffSkills] ADD  CONSTRAINT [UQ_Staff_Category] UNIQUE NONCLUSTERED 
(
	[StaffId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105343F617087]    Script Date: 3/24/2026 3:03:56 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [EnableNotifications]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [EnableEmail]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [GiftCardApplied]
GO
ALTER TABLE [dbo].[SalonReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StaffShifts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CustomerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([CartId])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD FOREIGN KEY([CustomerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[InventoryItems]  WITH CHECK ADD  CONSTRAINT [FK_InventoryItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[InventoryItems] CHECK CONSTRAINT [FK_InventoryItems_Products_ProductId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([InventoryItemId])
REFERENCES [dbo].[InventoryItems] ([InventoryItemId])
GO
ALTER TABLE [dbo].[InvoicePromotions]  WITH CHECK ADD FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoicePromotions]  WITH CHECK ADD FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([PromotionId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([ConversationId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SalonReviews]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[SalonReviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SalonReviews]  WITH CHECK ADD  CONSTRAINT [FK_SalonReviews_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SalonReviews] CHECK CONSTRAINT [FK_SalonReviews_ProductId]
GO
ALTER TABLE [dbo].[ServiceConsumables]  WITH CHECK ADD FOREIGN KEY([InventoryItemId])
REFERENCES [dbo].[InventoryItems] ([InventoryItemId])
GO
ALTER TABLE [dbo].[ServiceConsumables]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StaffAvailability]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[StaffSkills]  WITH CHECK ADD  CONSTRAINT [FK_StaffSkills_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ServiceCategories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffSkills] CHECK CONSTRAINT [FK_StaffSkills_Category]
GO
ALTER TABLE [dbo].[StaffSkills]  WITH CHECK ADD  CONSTRAINT [FK_StaffSkills_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffSkills] CHECK CONSTRAINT [FK_StaffSkills_Staff]
GO
ALTER TABLE [dbo].[TimeLogs]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[TipLogs]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleKey])
REFERENCES [dbo].[Roles] ([RoleKey])
GO
ALTER TABLE [dbo].[InventoryItems]  WITH CHECK ADD  CONSTRAINT [CK_InventoryItems_RetailShadowKey] CHECK  ((coalesce([ItemGroup],'service')<>'retail' OR [ProductId] IS NOT NULL AND [InventoryItemId]=concat('retail_',[ProductId])))
GO
ALTER TABLE [dbo].[InventoryItems] CHECK CONSTRAINT [CK_InventoryItems_RetailShadowKey]
GO
ALTER TABLE [dbo].[SalonReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
