.portal-grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.portal-grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.portal-grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}