.portal {
 
  background-size: cover;
  background-attachment: fixed;
}

.portal-card {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.portal-sidebar {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.portal-header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}